//fonts google
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$mainFont:'Raleway', sans-serif;


//Sizing

$textLg:40px 45px;
$textMd: 30px;
$textSm : 19px; 
$textFotter:2em 1rem;