//vars
$mainColor: (#F2F0F1);
$secondaryColor:( #E5BACC );
$keyColor: (black);

$textXL:45px;
$textLg:40px;
$textMd: 25px;
$textSm : 19px; 
$textSn:30px;
$textRem:1rem;
$texteRem2:2em;
$textalign:justify;
$width:100%;
$widthSm:30rem;
$marginsm:10px;
$marginLg:11px;
$marginTop:20px;
$paddingleft:15px;




//colorMap
$paleta:(
    'maincolor':#F2F0F1,
    'secondaryColor': #E5BACC,
);



//









